///*------------------------------------*\
//    #MODULES-COMMON-HEADER
//\*------------------------------------*/

// Header base styles
.header {
	@include position(fixed, 0 0 null 0);
	z-index: 999;
    height: 60px;
    padding: $base-spacing-unit * 1.5;
    background-color: #4fc1e9;
    @include z-depth(1);
    @include clearfix;
}





// Menubar
.menubar {
	@include media-query(desk) {
		display: left;
	}

	@include media-query(portable) {
		float: left;
	}
}

.home .menubar {
//	display: block;
}


// Main Logo
.main-logo {
	float: left;
}

	// Main Logo Link
	.main-logo__link {
		display: block;
		padding: 4px 6px;
		border-radius: $base-round;
		@include font-size(24px);

		img {
			display: block;
			height: 28px;
		}
	}





// Main Nav
.main-nav {
	float: right;

	ul {
		@extend %bare-list;

		li {
			float: left;
		}
	}
}

.main-nav-left {
  float: left;
  display: none;
  @include media-query(portable) {
	display: block;
  }
}
