///*------------------------------------*\
//    #MODULES-COMMON-MAIN
//\*------------------------------------*/

// Main base styles
.main {
	padding: 60px 0 0;
}


$warning-color: #E75753;

.notifications-label {
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  font-size: 9px;
  top: 0px;
  right: 5px;
  background-color: $warning-color;
}

.notifications-label-10 {
  right: 10px;
}

.notifications-label-15 {
  right: 15px;
}

// Main section
.main-section {
	@include media-query(desk) {
		margin: 0 0 0 260px;
	}

}

	// Main section title
	.main-section__title {
		display: block;
		height: $base-spacing-unit * 8;
	    padding: 0 $base-spacing-unit * 3;
	    border-bottom: 1px solid #ddd;
	    @include font-size(22px);
	    font-weight: 500;
        line-height: $base-spacing-unit * 8;
	}

	// Main section intro
	.main-section__intro {
		padding: $base-spacing-unit * 3;
		@include font-size(22px);
		font-weight: 300;

		a {
			color: $blue;
			text-decoration: none;
		}
	}

	// Main section content
	.main-section__content {
		padding: $base-spacing-unit * 3;

		margin-bottom: 40px;
		p > code {
			padding: 2px 4px;
			font-size: 90%;
			color: $blue;
			background-color: lighten($blue, 40%);
			border-radius: 4px;
		}

		p > a {
			color: $blue;
			text-decoration: none;
		}
	}

	// Main section subtitle
	.main-section__subtitle {
		@include font-size(30px);
		font-weight: 300;
		line-height: 1;
	}

.cocktail-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.row-container {
	margin-bottom: 20px;
}

.progress {
	position: relative;
	left: 45%;
}

.img__card img {
	height: 110px;
	margin: auto;
	margin-top: 20px;
}

.nav-right {
	text-align: right;

	button, a {
		margin-right: 10px;
	}
}

.nav-create-cocktail {
	margin-top: 0px !important;
}

.dashboard-card {
	margin-top: 10px;
}