<div class="main-section__content">
    <div flex-container="row" flex-gutter="24" class="row-container">
        <div flex-item>
            <div class="card">
                <div class="toolbar" >
                    <div flex-container="row" flex-gutter="24" class="row-container" style="width:100%">
                        <div flex-item>
                            <lx-search-filter model="searchFilter" filter-width="100%" placeholder="Rechercher par nom" ></lx-search-filter>
                        </div>
                        <div flex-item>
                            <lx-select
                                    placeholder="Sélectionner une boisson"
                                    choices="liquids"
                                    ng-model="selectedBeverage"
                                    change="filterByBeverage(newValue)"
                                    floating-label
                                    style="color:black;padding:0;padding-top:8px"
                                    allow-clear="true">
                                <lx-select-selected>
                                    {{ $selected.name }}
                                </lx-select-selected>

                                <lx-select-choices>
                                    {{ $choice.name }}
                                </lx-select-choices>
                            </lx-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item="12" ng-hide="searchInProgress">
            {{ cocktails.length }} Résultat<span ng-if="cocktails.length > 1">s</span> trouvé<span ng-if="cocktails.length > 1">s</span>
        </div>
    </div>
    <div id="progress" class="progress"></div>
    <div flex-container="row" flex-gutter="24" class="row-container" ng-repeat="cocktail in cocktails | cocktailsearch:searchFilter">
        <div flex-item="12">
            <div class="card">
                <div flex-container="row" flex-gutter="24">
                    <div flex-item="2" class="img__card">
                        <img src="{{cocktail.image}}">
                    </div>
                    <div flex-item="10">
                        <div class="p+">
                            <span class="fs-subhead tc-black-2 display-block">{{cocktail.name}}</span>
                            <div class="paragraph fs-body-1" style="min-height:40px;">
                                <p>{{cocktail.description}}</p>
                            </div>
                        </div>
                        <div class="card__actions">
                            <i class="icon icon--s icon--blue icon--flat mdi mdi-facebook-box" ng-click="shareFB(cocktail.id)"></i>
                            <a target="_blank" href="https://twitter.com/intent/tweet?text=An amazing cocktail app&via=automatiz&url={{ getTwitterUrl(cocktail.id) }}">
                                <i class="icon icon--s icon--blue icon--flat mdi mdi-twitter-box"></i>
                            </a>

                            <a href="{{'/cocktails/' + cocktail.id}}"><button class="btn btn--m btn--orange btn--flat" lx-ripple>Voir</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fab cocktail-button">
    <a href="/cocktails/new">
        <button class="fab__primary btn btn--xl btn--blue btn--fab" lx-ripple> <!-- lx-tooltip="Lorem Ipsum" tooltip-position="left"-->
            <i class="mdi mdi-plus"></i>
            <i class="mdi mdi-martini"></i>
        </button>
    </a>
</div>