<div class="main-section__content">
    <lx-dialog class="dialog dialog--l" id="test" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
        <div class="dialog__header">
            <div class="toolbar bgc-light-blue-500 pl++">
                <span class="toolbar__label tc-white fs-title">
                    Noter le cocktail
                </span>
            </div>
        </div>

        <div class="dialog__content">
            <div class="main-section__content">
                <div flex-container="row" flex-gutter="24">
                    <div flex-item="2">
                        <lx-text-field label="Note">
                            <input type="text" ng-model="note.note">
                        </lx-text-field>
                    </div>
                    <div flex-item="10">
                        <lx-text-field label="Commentaire">
                            <input type="text" ng-model="note.comment">
                        </lx-text-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="dialog__actions">
            <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Annuler</button>
            <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close ng-click="sendNote()">Envoyer</button>
        </div>
    </lx-dialog>
    <div flex-container="row" flex-gutter="24" class="row-container">
        <div flex-item="12">
            <div class="card">
                <div flex-container="row" flex-gutter="24">
                    <div flex-item="2" class="img__card">
                        <img src="{{cocktail.image}}">
                    </div>
                    <div flex-item="10">
                        <div class="p+">
                            <span class="fs-subhead tc-black-2 display-block">Autheur : {{ cocktail.user.username }}</span>
                            <div class="paragraph fs-body-1" style="min-height:40px;">
                                Note : {{ cocktail.note_avairage }}
                                <br>

                                <p>
                                    <h5>Description: </h5>
                                    {{cocktail.description}}
                                </p>
                            </div>
                        </div>
                        <div class="card__actions">
                            <i class="icon icon--s icon--blue icon--flat mdi mdi-facebook-box" ng-click="shareFB(cocktail.id)"></i>
                            <a target="_blank" href="https://twitter.com/intent/tweet?text=An amazing cocktail app&via=automatiz&url={{ getTwitterUrl(cocktail.id) }}">
                                <i class="icon icon--s icon--blue icon--flat mdi mdi-twitter-box"></i>
                            </a>
                            <button class="btn btn--m btn--blue btn--raised" lx-ripple style="float:right;margin-bottom: 10px;" ng-click="noteThisCocktail()">Noter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div flex-container="row" flex-gutter="24">
        <div flex-item="2" flex-item-order="1">
            <div class="card">
                <div flex-container="row" flex-gutter="24">
                    <div flex-item="12">
                        <div class="p+ paragraph fs-body-1">
                            Étapes :
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex-item="10" flex-item-order="2">
            <div flex-container="row" flex-gutter="24" class="row-container" ng-repeat="step in cocktail.steps">
                <div flex-item="12">
                    <div class="card">
                        <div flex-container="row" flex-gutter="24">
                            <div flex-item="10">
                                <div class="p+">
                                    <div class="paragraph fs-body-1">
                                        <span ng-hide="step.addIce">
                                            {{ $index + 1 }} - {{ step.description }}
                                        </span>
                                        <span ng-show="step.addIce">
                                            {{ $index + 1 }} - Ajouter de la glace.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item="2" flex-item-order="1">
            <div class="card">
                <div flex-container="row" flex-gutter="24">
                    <div flex-item="12">
                        <div class="p+ paragraph fs-body-1">
                            Commentaires :
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex-item="10" flex-item-order="2">
            <div flex-container="row" flex-gutter="24" class="row-container" ng-repeat="note in cocktail.notes">
                <div flex-item="12">
                    <div class="card">
                        <div flex-container="row" flex-gutter="24">
                            <div flex-item="2">
                                <div class="p+ paragraph fs-body-1">
                                    Note : {{ note.note }}/5
                                </div>
                            </div>
                            <div flex-item="10">
                                <div class="p+">
                                    <span class="fs-subhead tc-black-2 display-block">utilisateur : {{ note.user.username }}, le {{ note.created_at | date : "d/m/yyyy - HH:MM:ss"}}</span>
                                    <div class="paragraph fs-body-1" style="min-height:40px;">
                                        <p>{{ note.comment }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
