<!--<div class="main-section__content">-->
    <!--<div flex-container="row" flex-gutter="24">-->
        <!--<div flex-item="12">-->
            <!--<div class="card">-->
                <!--<div class="p+">-->
                    <!--<strong class="fs-headline display-block">Lorem Ipsum</strong>-->
                    <!--<span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>-->

                    <!--<div class="paragraph fs-body-1 mt+">-->
                        <!--<p>-->
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="card__actions">-->
                    <!--<button class="btn btn&#45;&#45;m btn&#45;&#45;black btn&#45;&#45;flat" lx-ripple>Yes</button>-->
                    <!--<button class="btn btn&#45;&#45;m btn&#45;&#45;orange btn&#45;&#45;flat" lx-ripple>No</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="main-section__content">
    <div flex-container="row" flex-gutter="24" flex-wrap>
        <div flex-item="6">
            <div class="card dashboard-card">
                <div class="p+">
                    <span class="fs-title display-block mb">
                        Cocktail créé
                        <a href="/me/cocktails" class="btn btn--s btn--blue btn--flat" lx-ripple style="float:right;">Mes cocktails</a>
                    </span>

                    <div class="divider divider--dark"></div>

                    <ul class="list mt++">

                        <li class="list-row list-row--has-separator" ng-repeat="cocktail in cocktails">
                            <div class="list-row__content">
                                <span>{{cocktail.name}} <a href="/cocktails/{{cocktail.id}}" class="btn btn--s btn--blue btn--fab" style="margin-top: -2px;float: right;" lx-ripple><i class="mdi mdi-plus"></i></a></span>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div flex-item="6">
            <div class="card dashboard-card">
                <div class="p+">
                    <span class="fs-title display-block mb">Statistiques</span>

                    <div class="divider divider--dark"></div>
                    <ul class="list mt++">
                        <li class="list-row list-row--has-separator">
                            <div class="list-row__content">
                                <span>Vous avez créé {{(cocktails|filter:query).length}} cocktails</span>
                            </div>
                        </li>
                        <li class="list-row list-row--has-separator">
                            <div class="list-row__content">
                                <span>Vous avez noté {{notes}} cocktails</span>
                            </div>
                        </li>
                        <li class="list-row list-row--has-separator">
                            <div class="list-row__content">
                                <span>Vous avez commandé {{(stats|filter:query).length}} cocktails</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div flex-item="6">
            <div class="card dashboard-card">
                <div class="p+">
                    <span class="fs-title display-block mb">Cocktail commandé</span>

                    <div class="divider divider--dark"></div>

                    <ul class="list mt++">

                        <li class="list-row list-row--has-separator" ng-repeat="stat in stats">
                            <div class="list-row__content">
                                <span>{{stat.cocktail.name}} - {{ stat.created_at | date : "d/MM/yyyy - HH:m:ss"}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fab cocktail-button">
    <button class="fab__primary btn btn--xl btn--blue btn--fab" lx-ripple>
        <i class="mdi mdi-plus"></i>
        <i class="mdi mdi-minus"></i>
    </button>

    <div class="fab__actions fab__actions--up">
        <a href="/cocktails/new" class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Créer un cocktail" tooltip-position="left"><i class="mdi mdi-beer"></i></a>
    </div>
</div>

