<div class="main-section__content">
    <div flex-container="row" flex-gutter="24">
        <div flex-item="12">
            <div class="card">
                <div class="data-table-container">
                    <header class="data-table-header">
                        <div class="data-table-header__label">
                            <span class="fs-title"></span>
                        </div>

                        <div class="data-table-header__actions">

                            <lx-dropdown position="right" over-toggle="true">
                                <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                    <i class="mdi mdi-dots-vertical"></i>
                                </button>

                                <lx-dropdown-menu>
                                    <ul>
                                        <li><a class="dropdown-link">Action</a></li>
                                        <li><a class="dropdown-link">Another action</a></li>
                                        <li><a class="dropdown-link">Something else here</a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                                        <li><a class="dropdown-link">Separated link</a></li>
                                    </ul>
                                </lx-dropdown-menu>
                            </lx-dropdown>
                        </div>
                    </header>

                    <table class="data-table">
                        <thead>
                        <tr class="data-table__selectable-row">
                            <th></th>
                            <th ng-repeat="(key, value) in users[0]">{{key}}</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="data-table__selectable-row" ng-repeat="user in users">
                            <td></td>
                            <td ng-repeat="(key, value) in user">{{value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>