<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!--<script data-main="/app/main" src="/app/js/lib/require.min.js"></script>-->
</head>
<body >
</body>
</html>